*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body, main{
  height: 100%!important;
}
body {
  display: flex;
  flex-direction: column;
}
ul>li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    max-width: 990px!important;   
    margin: 0 auto!important;
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
}
/* HEADER */
header{
    padding: 30px 0;
    background: #35C3D9;
    min-height: 200px;
}

.content{
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    flex: 1 0 auto;
}

.logo__title{
    font-size: 38px;
}

.logo__subtitle{
    font-size: 20px;
}

.left_header{
    padding-left: 24px!important;
}
.right_header{
    text-align: right;
    padding-right: 24px!important;
}

.login__container a{
    display: inline-block;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

.login__container a:hover{
    text-decoration: underline;
}
.user_icon{
    width: 25px;
    height: 25px;
    background: url('../icons/user.svg');
    margin-right: 10px;
}

.user_name{
    color: #fff;
    padding-right: 10px;
    border-right: 1px solid #fff;
    height: 25px;
}

.input-group{
     position: relative;
}
.pop_up_search{
    z-index: 1000;
    position: absolute;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    background: #fff;
    border-radius: 4px;
    top: 40px;
    color: #666;
}
.pop_up_search>li{
    list-style: none;
    margin: 6px;
    text-align: left;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.phone, .email{
    margin-top: 7px;
    font-size: 20px;
}

.nav__container{
    background: #EDEDED;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.nav-item{
    margin-right: 33px;
} 

/* Catalog */ 

.index__h4{
    margin-bottom: 30px;
} 

.catalog-container{

    padding: 30px;
    margin-bottom: 30px;
}

.catalog-container h4{
    margin-bottom: 15px;
}
.category_list{
    margin-bottom: 40px;
    margin-left: 0;
    max-width: 500px;
   
}

.catalog_list__item a{
        cursor: pointer;    
    color: #006699;    
    text-decoration: underline;
}

.product__item,
.ad__item{
    position: relative;
    margin: 0 0 30px;
    margin-bottom: 30px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    min-width: 190px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}

.product__item__row,
.ad__item__row{
    height: 100%;
}

.product__item:hover, 
.ad__item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}

.ad__item__col{
    display: block;
    margin: 0 auto;
}
.product__item:hover .product__item__photo,
.ad__item:hover .ad__item__photo{
    opacity: 0.3; 
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.product__item:hover .product__item__hidden-layer,
.ad__item:hover .ad__item__hidden-layer{
    opacity: 1;
        -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.product__item__photo__container,
.ad__item__photo__container{
    height: 100%;
}

.product__item__col{
    margin: 0 auto;
}

.product__item__photo,
.ad__item__photo{
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.product__photo,
.ad__photo{
  
    margin-bottom: 30px;
 
}
.product__item__price, .product__item__title,
.ad__item__price, .ad__item__title{
    margin-bottom: 10px;
}

.product__item__title a,
.ad__item__title a{
    display: inline-block;
    cursor: pointer;    
    color: #006699;    
    text-decoration: underline;
}

.product__item__description,
.ad__item__description{
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__item__description,
.ad__item__description{
    font-size: 12px;
    margin: 5px 0;
}
.product__item__published,
.product__item__price,
.ad__item__published,
.ad__item__price{
    font-size: 14px;
}

.product__item__price,
.ad__item__price{
    color: #78C042;    
}
 
.product__photo img,
.ad__photo img{
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px;
}

.photo__main{
    max-width: 450px;
    position: relative;
}

.photo_column{
    
    margin-left: 10px;
    width: 100px;
}

.photos__item{
    min-width: 40px;
    min-width: 80px;
    height: auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

.photos__item:hover{
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    cursor: pointer;
}

.product__item__hidden-layer,
.ad__item__hidden-layer{
    display: block;
    opacity: 0;
    width: 35px;
    height: 35px;
    background: url('../icons/menu-symbol-of-three-parallel-lines.svg');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    transform:  translate(-50%, -50%);
        -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

.product__photo__title{
    padding: 5px 10px;
    float:left;
    color: #666;
    font-weight: 600;
}

.product__photo__price{
    width: auto;
    display: inline-block;
    padding: 10px 25px;
    background: #FCF8E3;
    font-size: 20px; 
    margin-bottom: 20px;
    border-radius: 4px;
}

.product__published{
    padding: 10px;
    border-radius: 4px;
    height: 60px;
    background: #F7F7F7;
    font-size: 13px;
    margin-bottom: 25px;
}

.bold{
    font-weight: 800;
}

.feedback__container{
    padding-left: 25px;
}

.feedback{
    background: #F7F7F7;
    padding: 30px;
}

.feedback__title{
    font-size: 19px;
    font-weight: bold;
    color: #666;
}

.feedback__span{
    display: block;
    font-size: 13px;
    margin-top: 7px;
}

.feedback__input{
    display: block;
}
.feedback__textarea{
    border-radius: 3px;
}

.btn--send{
    margin-top: 10px;
}
/* Ads */

.ads__container{
    min-height: 400px;
}
.ads{
    margin: 0;
}
.search{
    margin-left: 24px;
    padding: 15px;
    font-size: 13px;
}
.your_search,
.show_only,
.price{
    display: block;
    margin-bottom: 5px;
}
.show_only{
    border-top: 1px solid #DDD;
    padding-top: 15px;
    margin-top: 15px; 
}
.your_search, .price{
    font-weight: 600;
}
.price{
    border-top: 1px solid #DDD;
    padding-top: 15px;
    margin-top: 20px;
}
.search input[type=checkbox]{
    margin-top: 5px;
}

.adds_with_photo{
    margin-left: 7px;
    
}
footer{
    background: #2f2f2f;
    flex-shrink: 0;
}
.footer__contacts{
    height: 70px;
}
.ads{

}

.btn-search,
.btn--send{
    text-align: center;
    padding: 2px;
    background-color: #20AFC5;
    height: 30px;
    width: 100px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;

}
.btn-search:hover,
.btn--send:hover{
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
input[type=text]{
    border-radius: 3px;  
    padding: 0 5px;
    border: 1px solid #999;
}

input[name=price_max],
input[name=price_min]{
    margin-bottom: 10px;
    margin-left: 20px; 
    width: 80px; 
}

.btn--search--container{
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid #DDD;
}

.ads{
    padding: 10px;
}

.ads__title{
    font-size: 18px;
    font-weight: 600;
    color: #777;
    margin-top: 18px;
    display: block;
    margin-left: 25px;
    margin-bottom: 10px;
}