{% extends "base.html.twig" %}
{% block body %}
    <main>
        <div class="wrapper">
            <div class="contacts row">
                <div class="col-sm-7 contacts--left">
                    <div class="contacts__adress contacts__item">
                        <div class="contacts__adress__text"><span class="contacts__span">Адрес: </span>
                        </div>
                        <div>г.
                            Санкт-Петербург</div>
                    </div>
                    <div class="contacts__phone contacts__item">
                        <div class="contacts__phone__text"><span class="contacts__span">Тел: </span>
                        </div>
                        <div>+7 (904) 647-51-54</div>
                    </div>
                    <div class="contacts__email contacts__item">
                        <div class="contacts__email__text"><span class="contacts__span">Эл.почта: </span>
                        </div>
                        <div>karyulay@gmail.com</div>
                    </div>
                    <div class="contacts__inn contacts__item">
                        <div class="contacts__inn__text"><span class="contacts__span">ИНН: </span></div>
                        <div>89313646979461</div>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </main>
{% endblock %}